<table id='provider_table' class="table mt-50 c-table table-striped">
  <thead>
    <tr>
      <th>
        <div>Name</div>
      </th>
      <th>
        <div>Lowest tariff price (per month)</div>
      </th>
      <th>
        <div>Rating</div>
      </th>
      <th>
        <div>Max. bandwidth</div>
      </th>
      <th>
        <div>Description</div>
      </th>
      <th>
        <div>Contact number</div>
      </th>
      <th>
        <div>Email</div>
      </th>
      <th>
        <div>URL</div>
      </th>
      <th>
        <div>Action</div>
      </th>
    </tr>
  </thead>
  <tbody id='providers_list'>
    <%= render 'list_object', providers: @providers %>
  </tbody>
</table>
